<div class="button-page">
    <div class="row">
        <!-- bootstrap modal start -->
        <div class="col-sm-12">
            <!-- Notification card start -->
            <app-card [title]="'DANH SÁCH VẬT TƯ'">
              <div class="row">
                
              </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Mã</th>
                                <th scope="col">Nhà sản xuât</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Lần cuối cập nhật</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Kim tiêm</td>
                                <td>KT</td>
                                <td>Dược phẩm Hâụ Giang</td>
                                <td>03-12-2018 9:02:12</td>
                                <td>02-05-2019 9:02:12</td>
                                <td>
                                    <button class="btn btn-primary btn-outline-primary"><i class="icofont icofont-edit-alt"></i>Sửa</button>
                                    <button class="btn btn-danger"><i class="icofont icofont-ui-delete"></i>Xoá</button>                        
                                </td>
                              </tr>
                              <tr>
                                  <th scope="row">2</th>
                                  <td>Kim tiêm</td>
                                  <td>KT</td>
                                  <td>Dược phẩm Hâụ Giang</td>
                                  <td>03-12-2018 9:02:12</td>
                                  <td>02-05-2019 9:02:12</td>
                                  <td>
                                      <button class="btn btn-primary btn-outline-primary"><i class="icofont icofont-edit-alt"></i>Sửa</button>
                                      <button class="btn btn-danger"><i class="icofont icofont-ui-delete"></i>Xoá</button>                        
                                  </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Kim tiêm</td>
                                    <td>KT</td>
                                    <td>Dược phẩm Hâụ Giang</td>
                                    <td>03-12-2018 9:02:12</td>
                                    <td>02-05-2019 9:02:12</td>
                                    <td>
                                        <button class="btn btn-primary btn-outline-primary"><i class="icofont icofont-edit-alt"></i>Sửa</button>
                                        <button class="btn btn-danger"><i class="icofont icofont-ui-delete"></i>Xoá</button>                        
                                    </td>
                                  </tr>
                            </tbody>
                          </table>
                    </div>
                    
                </div>
            </app-card>
            <!-- Notification card end -->
        </div>
        <!-- Bootstrap modal end -->
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>